@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');


body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

#first-content{
    height: 100vh;
    width: 100rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.3)),url(images/covid-image.jpg) ;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

#heading{
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 850%;
}

#content{
    color: white;
    height: 70%;
    width: 100%;
    font-size: 150%;
    line-height:40px ;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
#in-content{
    height: 50%  ;
    width:70%; 
}
/* section-2 part comes here  */
#section2{
    height: 50rem;
    width: 100rem;
    background-color: black;

    background-size: cover;
}
#sec2-img1{
    height: 90%;
    display: inline-block;
    width: 40%;
    background-image: url(images/F1.jpg);
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 10%;
    background-size: cover;
     box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);;
}
#sec2-text{
    height: 90%;
    width: 55%;
    display:inline-block; 
    position: absolute;
    margin-top: 20px;
    margin-left: 40px;
}
#sec2-text h2{ 
    display: inline-block;
    color: white;
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}
#sec2-text h3{
    color: white;
    font-size: 30px;
    font-family: cursive;
}

#sec2-text img{
    height: 15%;
    width: 15%;'
}

#sec2-text span{
    font-size: 30px;
    margin-left: 20px;
    position: relative;
    top: -4%;
    font-size: 30px;
    font-family:Roboto;
    border-radius: 20%;
}

#sec2-img2{
    display: inline-block ;
    position: relative;
    top: 20%;
    right: 35%;
}
